{% extends 'index.html.twig' %}

{% block body %}
    
    <div class="panel shadow-lg">
        <header class="panel-heading">
            <h3 class="panel-title"><i class="site-menu-icon icon md-notifications" aria-hidden="true" style="font-size: 25px;top: 3px;"></i>Meine Todos</h3>
        </header>
        <div class="panel-body pt-30">
            <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
                <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                    <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#fuermich" aria-controls="all_contacts" role="tab">für Mich</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane animation-fade active" id="fuermich" role="tabpanel">
                        
                       
                        <ul class="list-group">
                            {% for noti in tome %}
                                
                                <li class="list-group-item">
                                    <div class="media{% if noti.type == "4" %} uploadfiledummy{% endif %}" data-id="{{ noti.id }}" {% if noti.type == "4" %} onclick="test({{ noti.id }})" {% endif %}>
                                        {% if noti.type == "1" %}
                                            <div style="width: 20px;background-color: #3f51b5;height: 99px;margin-right: 5px;"></div>
                                        {% elseif noti.type == "2"%}
                                            <div style="width: 20px;background-color: #f19408;height: 99px;margin-right: 5px;"></div>
                                        {% elseif noti.type == "3"%}
                                            <div style="width: 20px;background-color: #ffeb3b;height: 99px;margin-right: 5px;"></div>
                                        {% elseif noti.type == "4"%}
                                            <div style="width: 20px;background-color: #17B3A3;height: 99px;margin-right: 5px;"></div>
                                        {% elseif noti.type == "5"%}
                                            <div style="width: 20px;background-color: #C7C9CB;height: 99px;margin-right: 5px;"></div>
                                        {% elseif noti.type == ""%}
                                            <div style="width: 20px;background-color: #C7C9CB;height: 99px;margin-right: 5px;"></div>
                                        {% endif %}
                                        <div class="pr-0 pr-sm-20 align-self-center">
                                            <div class="avatar avatar-online">
                                                <img src="{{ noti.fromUser.profile.image }}" alt="...">
                                                <i></i>
                                            </div>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <h5 class="mt-0 mb-5">
                                                {{ noti.fromUser.displayName }}
                                                <small>{% if noti.type == "1" %}
                                                        Anrufen
                                                    {% elseif noti.type == "2"%}
                                                        Termin vereinbaren
                                                    {% elseif noti.type == "3"%}
                                                        Angebot unterbreiten
                                                    {% elseif noti.type == "4"%}
                                                        Ablesung
                                                    {% elseif noti.type == "5"%}
                                                        Sonstige Wiedervorlage
                                                    {% elseif noti.type == ""%}
                                                        Sonstige Wiedervorlage
                                                    {% endif %} </small>
                                            </h5>
                                            <p>
                                                <i class="icon icon-color wb-map" aria-hidden="true"></i>{{ noti.description|replace({'<br>' : ' , ','<br' : ' , '}) }}
                                            </p>
                                            {% if noti.zaehlernummer %}
                                            <p>
                                                <i class="icon fa-tachometer" aria-hidden="true"></i>{{ noti.zaehlernummer }}
                                            </p>
                                            {% endif %}
                                            <div>
                                                <a class="text-action text-black-50" href="javascript:void(0)">
                                                    <i class="icon wb-calendar" aria-hidden="true"></i><span class="text-dark">{{ noti.doneUntil|date("d.m.Y") }}</span>
                                                </a>
                                                <!--
												<a class="text-action" href="javascript:void(0)">
													<i class="icon icon-color wb-mobile" aria-hidden="true"></i>
												</a>
												<a class="text-action" href="javascript:void(0)">
													<i class="icon icon-color bd-twitter" aria-hidden="true"></i>
												</a>
												<a class="text-action" href="javascript:void(0)">
													<i class="icon icon-color bd-facebook" aria-hidden="true"></i>
												</a>
												<a class="text-action" href="javascript:void(0)">
													<i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
												</a>
												-->
                                            </div>
                                        </div>
                                        <div class="pl-0 pl-sm-20 mt-15 mt-sm-0 align-self-center">
                                            <a href="/notification/markasseen/{{ noti.id }}"> <button type="button" class="btn btn-outline btn-warning btn-sm">Erledigt</button></a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block siteJS %}
    <script>
        var notiId = "";
        
        function test(id){
            console.log('GGGklick'+id);
            notiId = id;
            openFileDialog("", true, fileDialogChanged);
        }

        function openFileDialog (accept, multy = false, callback) {
            var inputElement = document.createElement("input");
            inputElement.type = "file";
            inputElement.accept = accept; // Note Edge does not support this attribute
            if (multy) {
                inputElement.multiple = multy;
            }
            if (typeof callback === "function") {
                inputElement.addEventListener("change", callback);
            }
            inputElement.dispatchEvent(new MouseEvent("click"));
            console.log('back')
        }
        
        function fileDialogChanged (event) {
            var form = new FormData(),
                xhr = new XMLHttpRequest();
            
            [...this.files].forEach(file => {
                console.log(file);
                form.append('file', file, file.name);
                form.append("notiId", notiId);
                //var div = document.createElement("div");
                //div.className = "fileList common";
                //div.textContent = file.name;
                //userSelectedFiles.appendChild(div);
            });
            xhr.open('POST', 'upload/facility/dashboard');
            xhr.send(form);
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    toastr.success(JSON.parse(this.responseText));;
                }
            };
            
        }
    </script>
{% endblock %}
