{% extends 'baseNew.html.twig' %}

{% block body %}
{# {{ dump(app.user) }} #}
	<div class="row" data-plugin="matchHeight" data-by-row="false">
	<div class="col-xl-4 col-lg-4" id="dashUserwidget">
		<div class="panel shadow-lg pb-20" id="UserDash" style="height: 540px;">
			<div class="panel-heading h-120" style="background: #f19408;">
				<a class="float-left mr-20 mt-15 ml-20" href="javascript:void(0)">
					<img src="{% if app.session.get('userImage') == "" %}
							/assets/images/avatar.jpg" alt="..." style="height: 90px;border-radius: 1000px;">
					{% else %}
						{{ app.session.get('userImage') }}" alt="..." style="height: 90px;border-radius: 1000px;">
					{% endif %}</a>
				<h3 class="panel-title" style="padding: 40px 40px;">{{ loggeduser.displayName }}<br><span class="font-size-12 text-white" >{{ loggeduser.email }}</span></h3>
				
				<div class="panel-actions text-white">
					<button type="button" class="btn-raised btn btn-danger btn-floating waves-effect waves-classic waves-effect waves-light waves-effect waves-classic waves-effect waves-classic animation-hover animation-shake" id="customerAddTodo" style="height: 30px;width: 30px;font-size: 23px;">
						<a data-toggle="modal" data-target="#todoModal" data-id="{{ loggeduser.id }}" style="color: #ffffff" class="open-AddBookDialog animation-shake animation-hover"><i class="icon md-notifications-add" style="margin: 0px -9px 0;font-size: 18px;position: absolute;" aria-hidden="true"></i></a>
					</button>
				</div>
			</div>
			<div class="panel-body">
				<ul class="list-group list-group-full list-group-dividered mb-0">
					{% for user in users %}
						{% if user.id in app.user.favorite %}
							<li class="list-group-item">
								<div class="media">
									<div class="pr-20">
										<a class="avatar avatar-lg" href="javascript:void(0)">
											<img class="img-responsive" src="
													{% if user.getProfile.getImage == "" %}
													/assets/images/avatar.jpg" alt="...">
											{% else %}
												{{ user.getProfile.getImage }}" alt="...">
											{% endif %}
										</a>
									</div>
									<div class="media-body">
										<h5 class="mt-0 mb-5">{{ user.displayName }}</h5>
										<small>{{ user.email }}</small>
									</div>
									<div class="media-item-actions">
										<button type="button" class="btn btn-warning btn-floating btn-xs  animation-shake animation-hover" style="position: inherit">
											<a data-toggle="modal" data-target="#todoModal" data-id="{{ user.id }}" style="color: #ffffff" class="open-AddBookDialog animation-shake animation-hover"><i class="icon md-notifications-add animation-shake animation-hover" style="margin: -1px 5px 0;" aria-hidden="true"></i></a>
										</button>
									</div>
								</div>
							</li>
						{% endif%}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
		
		<div class="col-lg-4 masonry-item">
			<div class="panel shadow-lg pb-20" id="event-list" style="height: 540px;">
				<div class="panel-heading h-120" style="background: #f19408;">
					<h3 class="panel-title" style="padding: 40px 40px;"><i class="site-menu-icon icon md-calendar" style="font-size: 25px;top: 3px;" aria-hidden="true"></i>Termine für heute</h3>
				</div>
				<div class="panel-body">
					<div class="calendar-container  scrollable pb-20">
						<div id="calendar"></div>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="col-xl-4 col-lg-4" id="dashUserTodos">
			<div class="card shadow-lg" style="height: 500px;">
				<div class="card-header-bordered p-10">
					<h4>Todos für heute</h4>
				</div>
				<div class="card-body">
				</div>
			</div>
		</div>-->
		<div class="col-lg-4 masonry-item">
			<!-- Panel To Do List -->
			<div class="panel shadow-lg pb-20" id="todo-list" style="height: 540px;">
				<div class="panel-heading h-120" style="background: #f19408;">
					<h3 class="panel-title" style="padding: 40px 40px;"><i class="icon md-notifications" aria-hidden="true" style="font-size: 25px;top: 3px;"></i> zu erledigen</h3>
				</div>
				<div class="panel-body" style="height:400px;overflow-y: scroll">
					
						<ul class="list-task list-group  scrollable is-enabled scrollable-vertical" data-plugin="scrollable" style="position: relative;">
							{% for todo in notifications %}
								<li class="list-group-item">
									<div class="media">
										<div class="media-item-actions"
												{% if todo.type == "1" %}
											style="width: 20px;background-color: #015780;height: 50px;margin-right: 5px;"
										{% elseif todo.type == "2"%}
											style="width: 20px;background-color: #f19408;height: 50px;margin-right: 5px;"
										{% elseif todo.type == "3"%}
											style="width: 20px;background-color: #ffeb3b;height: 50px;margin-right: 5px;"
										{% elseif todo.type == "4"%}
											style="width: 20px;background-color: #17B3A3;height: 50px;margin-right: 5px;"
										{% elseif todo.type == "5"%}
											style="width: 20px;background-color: #C7C9CB;height: 50px;margin-right: 5px;"
										{% elseif todo.type == ""%}
											style="width: 20px;background-color: #C7C9CB;height: 50px;margin-right: 5px;"
										{% endif %}
										></div>
										<div class="media-body" style="padding: 3px;">
											<h5 class="mt-0 mb-5">{{ todo.text }}</h5>
											<small>{{ todo.description }}</small>
										</div>
										<div class="media-item-actions"></div>
									</div>
								</li>
							
							{% endfor %}
						</ul>
						
					
				</div>
				
			</div>
			<!-- End Panel To Do List -->
		</div>
		
	</div>
	
	
	
	
	<div class="modal fade modal-3d-slit" id="todoModal" aria-hidden="true"
		 aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-simple">
			<div class="modal-content clara-modal-content">
				<form method="post" action="{{ path("noti_create_from_dashboard") }}">
					<div class="modal-header clara-modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title clara-modal-title"><i class="icon md-notifications" aria-hidden="true" style="font-size: 25px"></i> Neues Todo anlegen</h4>
					</div>
					<div class="modal-body clara-modal-body">
						<textarea rows="3" name="text" cols="70" placeholder="hier Text eingeben" required></textarea>
						<select name="notiType" class="selectpicker">
							<option value="5">welcher Typ</option>
							<option value="1">Anrufen</option>
							<option value="2">Termin vereinbaren</option>
							<option value="3">Angebot unterbreiten</option>
							<option value="4">Ablesung</option>
							<option value="5">Sonstige Wiedervorlage</option>
						</select>
						<input type="text" required name="todate" class="datepicker" data-plugin="datepicker" placeholder="erledigen bis.">
						<input type="hidden" name="userId" id="userId" value=""/>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default btn-pure" data-dismiss="modal">Abbrechen</button>
						<button type="submit" class="btn btn-warning">Speichern</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="modal fade modal-3d-slit" id="todoModalGlobal" aria-hidden="true"
		 aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-simple">
			<div class="modal-content clara-modal-content">
				<form method="post" action="{{ path("noti_create_global") }}">
					<div class="modal-header clara-modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title clara-modal-title"><i class="icon md-notifications" aria-hidden="true" style="font-size: 25px"></i> Neues Todo anlegen</h4>
					</div>
					<div class="modal-body clara-modal-body">
						<div class="form-group">
							<span class="text-help">Nachricht</span>
							<textarea rows="3" name="Gtext" cols="70" placeholder="hier Text eingeben" required></textarea>
						</div>
						<div class="form-group">
							<span class="text-help">Typ</span>
							<select name="GnotiType" class="selectpicker">
								<option value="5">welcher Typ</option>
								<option value="1">Anrufen</option>
								<option value="2">Termin vereinbaren</option>
								<option value="3">Angebot unterbreiten</option>
								<option value="4">Ablesung</option>
								<option value="5">Sonstige Wiedervorlage</option>
							</select>
						</div>
						<div class="form-group">
							{% if is_granted('ROLE_PORTAL_ADMIN') or is_granted('ROLE_ADMIN') %}
							<span class="text-help">Für welchen Benutzer?</span>
							<select name="toUser" class="selectpicker">
								{% for benutzer in users %}
									<option value="{{ benutzer.id }}"{% if benutzer == app.user %} selected {% endif %}>{{ benutzer.displayName }} | {{ benutzer.email }} </option>
								{% endfor %}
							</select>
							{% elseif is_granted('ROLE_FACILITY_MANAGER') %}
								<span class="text-help">Für welchen Benutzer?</span>
								<select name="toUser" class="selectpicker">
									{% for benutzer in users %}
										{% if benutzer.parentID == app.user.id %}
											<option value="{{ benutzer.id }}"{% if benutzer == app.user %} selected {% endif %}>{{ benutzer.displayName }} | {{ benutzer.email }} </option>
										{% endif %}
									{% endfor %}
									
								</select>
							
							{% else %}
								<input name="toUser" value="{{ app.user.id }}">
							{% endif %}
						</div>
						<div class="form-group">
							<span class="text-help">Bis wann erledigen?</span>
							<input type="text" required name="Gtodate" class="datepicker" data-plugin="datepicker" placeholder="erledigen bis.">
						</div>
						<input type="hidden" name="GuserId" id="userId" value=""/>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default btn-pure" data-dismiss="modal">Abbrechen</button>
						<button type="submit" class="btn btn-warning">Speichern</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script>
		
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var today = moment().day();
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: false,
				height: 410,
				allDaySlot: false,
                slotMinTime:'08:00:00',
                slotMaxTime:'21:00:00',
                firstDay: today,
                navLinks: false, // can click day/week names to navigate views
                editable: true,
                weekends: false,
				locale: "de",
                initialView: 'timeGrid',
                dayMaxEvents: true, // allow "more" link when too many events
                events: '/calGetTodayEvents'
            });

            calendar.render();
        });
	</script>
{% endblock %}