<div class="site-menubar" style="background: #015780;">
	<ul class="site-menu">
		<li class="site-menu-item {% if app.request.pathinfo  == path("dashboard")  %} active {% endif %}">
			<a class="animsition-link" href="{{ path("dashboard") }}">
				{% if app.request.pathinfo  == path("dashboard")  %}
					<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Dashboard-end.svg') }}">
				{% else %}
					<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Dashboard-weisse-Kontur-end.svg') }}">
					
				{% endif %}
				
				<span class="site-menu-title ClaraMenuTitle">Dashboard</span>
			</a>
		</li>
		{% if is_granted('ROLE_PORTAL_ADMIN') %}
			<li class="site-menu-item has-sub">
				<a href="javascript:void(0)">
					<i class="site-menu-icon icon md-code-setting" aria-hidden="true"></i>
					<span class="site-menu-title"> Importer</span>
					<span class="site-menu-arrow"></span>
				</a>
				<ul class="site-menu-sub">
					<li class="site-menu-item">
						<a class="animsition-link" href="{{ path("importUsers") }}">
							<span class="site-menu-title">Import Users</span>
						</a>
					</li>
					<li class="site-menu-item">
						<a class="animsition-link" href="{{ path("sync_users") }}">
							<span class="site-menu-title">Sync Users</span>
						</a>
					</li>
					<li class="site-menu-item ">
						<a class="animsition-link" href="{{ path("importCalendars") }}">
							<span class="site-menu-title">Import Calendars</span>
						</a>
					</li>
					<li class="site-menu-item">
						<a class="animsition-link" href="{{ path("importNotifications") }}">
							<span class="site-menu-title">Import Notifications</span>
						</a>
					</li>
					<li class="site-menu-item">
						<a class="animsition-link" href="{{ path("importCustomers") }}">
							<span class="site-menu-title">Import Customers</span>
						</a>
					</li>
					<li class="site-menu-item">
						<a class="animsition-link" href="{{ path("sync_customers") }}">
							<span class="site-menu-title">Sync Customers</span>
						</a>
					</li>
					<li class="site-menu-item">
						<a class="animsition-link" href="{{ path("import_deliveryPlaces") }}">
							<span class="site-menu-title">Import Kdls</span>
						</a>
					</li>
					<li class="site-menu-item">
						<a class="animsition-link" href="{{ path("import_ewgas") }}">
							<span class="site-menu-title">Import Gas Preise</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="site-menu-item {% if app.request.pathinfo  == path("benutzerindex")  %} active {% endif %}">
				<a class="animsition-link" href="{{ path("benutzerindex") }}">
					{% if app.request.pathinfo  == path("benutzerindex")  %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Benutzer-end.svg') }}">
					{% else %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Benutzer-weisse-Kontur-end.svg') }}">
					{% endif %}
					
					<span class="site-menu-title ClaraMenuTitle">Benutzer</span>
				</a>
			</li>
			
			<li class="site-menu-item{% if 'customer' in app.request.pathinfo or 'kundenindex' in app.request.pathinfo %} active {% endif %}">
				<a class="animsition-link" href="{{ path('customers') }}">
					{% if 'customer' in app.request.pathinfo or 'kundenindex' in app.request.pathinfo %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Kunden-end.svg') }}">
					{% else %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Kunden-weisse-Kontur-end.svg') }}">
						
					{% endif %}
					<!--<i class="site-menu-icon icon fa-users" aria-hidden="true"></i>-->
					<span class="site-menu-title ClaraMenuTitle" > Kunden</span>
				</a>
			</li>
			<li class="site-menu-item{% if app.request.pathinfo  == path("calendar")  %} active {% endif %}">
				<a class="animsition-link" href="{{ path("calendar")}}">
					{% if app.request.pathinfo  == path("calendar")  %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Termine-end.svg') }}">
					{% else %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Termine-weisse-Kontur-end.svg') }}">
					{% endif %}
					
					<span class="site-menu-title ClaraMenuTitle">Kalender</span>
				</a>
			</li>
			
		{% elseif is_granted('ROLE_ADMIN') %}
		
			
			<li class="site-menu-item {% if app.request.pathinfo  == path("benutzerindex")  %} active {% endif %}">
				<a class="animsition-link" href="{{ path("benutzerindex") }}">
					{% if app.request.pathinfo  == path("benutzerindex")  %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Benutzer-end.svg') }}">
					{% else %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Benutzer-weisse-Kontur-end.svg') }}">
					{% endif %}
					
					<span class="site-menu-title ClaraMenuTitle">Benutzer</span>
				</a>
			</li>
			<li class="site-menu-item{% if 'customer' in app.request.pathinfo or 'kundenindex' in app.request.pathinfo %} active {% endif %}">
				<a class="animsition-link" href="{{ path('customers') }}">
					{% if 'customer' in app.request.pathinfo or 'kundenindex' in app.request.pathinfo %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Kunden-end.svg') }}">
					{% else %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Kunden-weisse-Kontur-end.svg') }}">
					
					{% endif %}
					<!--<i class="site-menu-icon icon fa-users" aria-hidden="true"></i>-->
					<span class="site-menu-title ClaraMenuTitle" > Kunden</span>
				</a>
			</li>
			<li class="site-menu-item{% if app.request.pathinfo  == path("calendar")  %} active {% endif %}">
				<a class="animsition-link" href="{{ path("calendar")}}">
					{% if app.request.pathinfo  == path("calendar")  %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Termine-end.svg') }}">
					{% else %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Termine-weisse-Kontur-end.svg') }}">
					{% endif %}
					
					<span class="site-menu-title ClaraMenuTitle">Kalender</span>
				</a>
			</li>
		{% elseif is_granted('ROLE_PORTAL_USER') %}
		
			<li class="site-menu-item{% if 'customer' in app.request.pathinfo %} active {% endif %}">
				<a class="animsition-link" href="{{ path('mitarbeiterindex') }}">
					<i class="site-menu-icon icon md-pin-account" aria-hidden="true"></i>
					<span class="site-menu-title"> Benutzer</span>
				</a>
			</li>
			<li class="site-menu-item{% if 'customer' in app.request.pathinfo %} active {% endif %}">
				<a class="animsition-link" href="{{ path('customers') }}">
					<i class="site-menu-icon icon fa-users" aria-hidden="true"></i>
					<span class="site-menu-title"> Kunden</span>
				</a>
			</li>
			<li class="site-menu-item{% if app.request.pathinfo  == path("calendar")  %} active {% endif %}">
				<a class="animsition-link" href="{{ path("calendar")}}">
					<i class="site-menu-icon icon md-calendar" aria-hidden="true"></i>
					<span class="site-menu-title">Kalender</span>
				</a>
			</li>
		{% elseif is_granted('ROLE_FACILITY_MANAGER') %}
			
			<li class="site-menu-item{% if 'mitarbeiterindex' in app.request.pathinfo %} active {% endif %}">
				<a class="animsition-link" href="{{ path('mitarbeiterindex') }}">
					{% if app.request.pathinfo  == path("mitarbeiterindex")  %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Benutzer-end.svg') }}">
					{% else %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Benutzer-weisse-Kontur-end.svg') }}">
					{% endif %}
					
					<span class="site-menu-title ClaraMenuTitle">Benutzer</span>
				</a>
			</li>
			<li class="site-menu-item{% if 'kundenindex' in app.request.pathinfo %} active {% endif %}">
				<a class="animsition-link" href="{{ path('customers') }}">
					{% if 'kundenindex' in app.request.pathinfo  %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Kunden-end.svg') }}">
					{% else %}
						<img class="ClaraMenuIcon" src="{{ asset('assets/images/Icons/Kunden-weisse-Kontur-end.svg') }}">
					
					{% endif %}
					<!--<i class="site-menu-icon icon fa-users" aria-hidden="true"></i>-->
					<span class="site-menu-title ClaraMenuTitle" > Kunden</span>
				</a>
			</li>
		{% endif %}
	</ul>
</div>


