
<form class="body" name="passwordForm" action="{{ path("user_edit") }}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="typ" value="user">
	<input type="hidden" name="id" value="{{ user.id }}">
	<div class="row row-lg">
		<div class="col-lg-6 col-md-6">
			<div class="form-group">
				<span class="text-help">Anzeigename</span>
				<input type="text" class="form-control round" name="displayname" value="{{ user.displayName }}"  placeholder="Username">
			</div>
		</div>
		<div class="col-lg-6 col-md-6">
			<div class="form-group">
				<span class="text-help">E-Mail</span>
				<input type="email" class="form-control round" name="email" value="{{ user.email }}" placeholder="Email">
			</div>
		</div>
		<div class="col-lg-4 col-md-4">
			<div class="form-group">
				<span class="text-help">Provisionsstufe</span>
				<input type="text" class="form-control round" name="provstufe" value="{{ user.provstufe }}" placeholder="Provisionsstufe">
			</div>
			<hr>
			<h6>Passwort ändern</h6>
			<div class="form-group">
				<input type="password" name="oldpass" class="form-control round" placeholder="Altes Passwort">
			</div>
			<div class="form-group">
				<input type="password" name="newpass" class="form-control round" placeholder="neues Passwort">
			</div>
			<div class="form-group">
				<input type="password" name="confirmnewpass" class="form-control round" placeholder="neues Passwort bestätigen">
			</div>
			{% if is_granted('ROLE_ADMIN') %}
			<div class="form-group">
				<span class="text-help">Rollen</span>
				<select id="UserRoleSelect" data-plugin="selectpicker" multiple name="rollen[]">
					<option value="ROLE_ADMIN" {% if "ROLE_ADMIN" in user.roles %} selected {% endif %}>ROLE_ADMIN</option>
					<option value="ROLE_PORTAL_USER" {% if "ROLE_PORTAL_USER" in user.roles %} selected {% endif %}>ROLE_PORTAL_USER</option>
					<option value="ROLE_FACILITY_MANAGER" {% if "ROLE_FACILITY_MANAGER" in user.roles %} selected {% endif %}>Verwalter</option>
					<option value="ROLE_FACILITY" {% if "ROLE_FACILITY" in user.roles %} selected {% endif %}>Ableser</option>
				</select>
			</div>
				{% if 'ROLE_FACILITY_MANAGER' in user.roles %}
					<div class="form-group">
						<span class="text-help">Sieht Lieferstellen von:</span>
						<select data-style="warning" multiple class="text-white" name="allowedCustomer[]" data-plugin="selectpicker" data-live-search="true">
							{% for customer in customers %}
								<option value="{{ customer.id }}" {% if customer.id in user.allowedCustomer %}selected{% endif %}>{{ customer.fullName }} </option>
							{% endfor %}
						</select>
					</div>
				{% endif %}
			{% endif %}
		</div>
		<div class="col-lg-8 col-md-8">
			<div class="row-lg">
				<div class="col-xl-6 col-md-6" style="float:right;">
					<!-- Example Default Value -->
					<div class="example-wrap">
						<h4 class="example-title">Profilbild</h4>
						<div class="example">
							<input name="userImage" type="file" id="userImage" data-plugin="dropify" data-default-file="{% if app.session.get('userImage') == "" %}
						/assets/images/avatar.jpg" alt="...">
							{% else %}
								{{ profile.image }}" alt="...">
							{% endif %}
						
						</div>
					</div>
					<!-- End Example Default Value -->
				</div>
				<div class="col-xl-6 col-md-6">
					<!-- Example Default Value -->
					<div class="example-wrap">
						<h4 class="example-title">Logo</h4>
						<div class="example">
							<input name="userLogo" type="file" id="userLogo" data-plugin="dropify" data-default-file="{{ profile.logo }}" alt="...">
						</div>
					</div>
					<!-- End Example Default Value -->
				</div>
				
			</div>
		
		</div>
		
	</div>
	<button type="submit" class="btn btn-round btn-warning text-white">Speichern</button> &nbsp;&nbsp;
</form>