{% extends 'index.html.twig' %}

{% block body %}
	<div class="panel mb-0" id="customerKdlPanel">
		<form method="post">
			<input type="hidden" name="dpId" id="dpId" value="{{ dpl.id }}">
			<div class="panel-heading">
				<h3 class="panel-title">
					<img class="" src="{{ asset('assets/images/Icons/Lieferstellen-end.svg') }}" style="width: 40px;margin-right: 10px;"> Lieferstelle: <span id="deliveryPlaceTitle"></span></h3>
				<div class="panel-actions">
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PORTAL_ADMIN') %}
						<a class="panel-action"  id="showNotes"><img class="" src="{{ asset('assets/images/Icons/Aktionsbutton-Note-gross-end.svg') }}" style="width: 40px"></a>
						<a class="panel-action" id="deliveryModalButton" data-toggle="modal" data-target="#newCheckModal" aria-hidden="true"><img class="" data-toggle="tooltip" data-original-title="neue Ablseung" src="{{ asset('assets/images/Icons/Zaehler-ablesen-end.svg') }}" style="width: 40px"></a>
						<button type="submit" class="panel-action" id="customerSave" data-toggle="tooltip" data-original-title="Speichern" aria-hidden="true" style="border: none">
							<img class="" src="{{ asset('assets/images/Icons/speichern-end.svg') }}" style="width: 40px">
						</button>
					{% elseif is_granted('ROLE_FACILITY_MANAGER') %}
						<a class="panel-action" id="deliveryModalButton" data-toggle="modal" data-target="#newCheckModal" aria-hidden="true" data-toggle="tooltip" data-original-title="neue Ablseung"><i class="icon fa-files-o text-white font-size-26" aria-hidden="true"></i></a>
					{% endif %}
					<a class="panel-action icon wb-minus text-white" href="{{ app.session.get('lastUrl') }}"></a>
					
				</div>
			</div>
		<div class="panel-body">
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-12">
						<div class="col-md-12">
							<div class="panel shadow-lg" id="uploadedFilesPanel">
								<div class="panel-heading">
									<h3 class="panel-title text-white">Lieferstellendaten:</h3>
									<div class="panel-actions text-white">
										<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
									</div>
								</div>
								<div class="panel-body container-fluid">
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-6 float-left">
												<div class="panel shadow-lg" id="lieferPanel" style="margin-top: 15px;">
													<div class="panel-heading" >
														<h3 class="panel-title text-white">Lieferadresse</h3>
														<div class="panel-actions text-white">
															<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
														</div>
													</div>
													
													<div class="panel-body container-fluid">
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">Firmenname</span>
																	<input type="text" name="Firmenname" id="Firmenname" value="{{ dpl.firmenname }}" size="50" class="form-control form-control-sm round" placeholder="Firmenname">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Anrede</span>
																	<select data-style="warning" class="text-white" name="Anrede"  data-plugin="selectpicker">
																		<option value="" {% if dpl.reAnrede=="" %}selected {% endif %}>bitte wählen</option>
																		<option value="Herr" {% if dpl.anrede=="Herr" %}selected {% endif %}>Herr</option>
																		<option value="Frau" {% if dpl.anrede=="Frau" %}selected {% endif %}>Frau</option>
																		<option value="Firma" {% if dpl.anrede=="Firma" %}selected {% endif %}>Firma</option>
																	</select>
																</div>
															</div>
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Geburtstag</span>
																	<input type="text" name="Geburtstag" id="Geburtstag" value="{{ dpl.geburtstag }}" class="form-control form-control-sm round" placeholder="Geburtstag">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Vorname</span>
																	<input type="text" name="Vorname" id="Vorname" value="{{ dpl.vorname }}" class="form-control form-control-sm round" placeholder="Vorname">
																</div>
															</div><div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Nachname</span>
																	<input type="text" name="Nachname" id="Nachname" value="{{ dpl.nachname }}" class="form-control form-control-sm round" placeholder="Nachname">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-8 col-md-8">
																<div class="form-group">
																	<span class="text-help-sm">Strasse</span>
																	<input type="text" name="Strasse" id="Strasse" value="{{ dpl.strasse }}" class="form-control form-control-sm round" placeholder="Strasse">
																</div>
															</div><div class="col-lg-4 col-md-4">
																<div class="form-group">
																	<span class="text-help-sm">Hausnummer</span>
																	<input type="text" name="Hausnummer" id="Hausnummer" value="{{ dpl.hausnummer }}" class="form-control form-control-sm round" placeholder="Hausnummer">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-4 col-md-4">
																<div class="form-group">
																	<span class="text-help-sm">PLZ</span>
																	<input type="text" name="PLZ" id="PLZ" value="{{ dpl.pLZ }}" class="form-control form-control-sm round" placeholder="PLZ">
																</div>
															</div><div class="col-lg-8 col-md-8">
																<div class="form-group">
																	<span class="text-help-sm">Ort</span>
																	<input type="text" name="Ort" id="Ort" value="{{ dpl.ort }}" class="form-control form-control-sm round" placeholder="Ort">
																</div>
															</div>
														</div>
													</div>
												</div>
											
											</div>
											<div class="col-md-6 float-left">
												<div class="panel shadow-lg" id="abwRePanel" style="margin-top: 15px;">
													<div class="panel-heading">
														<h3 class="panel-title text-white">abw. Rechnungsadresse</h3>
														<div class="panel-actions text-white">
															<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
														</div>
													</div>
													<div class="panel-body container-fluid">
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">Firmenname</span>
																	<input type="text" name="ReFirma" id="ReFirma" value="{{ dpl.reFirma }}" size="50" class="form-control form-control-sm round" placeholder="Firmenname">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Anrede</span>
																	<select data-style="warning" class="text-white" name="ReAnrede"  data-plugin="selectpicker">
																		<option value="" {% if dpl.reAnrede=="" %}selected {% endif %}>bitte wählen</option>
																		<option value="Herr" {% if dpl.reAnrede=="Herr" %}selected {% endif %}>Herr</option>
																		<option value="Frau" {% if dpl.reAnrede=="Frau" %}selected {% endif %}>Frau</option>
																		<option value="Firma" {% if dpl.reAnrede=="Firma" %}selected {% endif %}>Firma</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Vorname</span>
																	<input type="text" name="ReVorname" id="ReVorname" value="{{ dpl.reVorname }}" class="form-control form-control-sm round" placeholder="Vorname">
																</div>
															</div><div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Nachname</span>
																	<input type="text" name="ReNachname" id="ReNachname" value="{{ dpl.reNachname }}" class="form-control form-control-sm round" placeholder="Nachname">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-8 col-md-8">
																<div class="form-group">
																	<span class="text-help-sm">Strasse</span>
																	<input type="text" name="ReStrasse" id="ReStrasse" value="{{ dpl.reStrasse }}" class="form-control form-control-sm round" placeholder="Strasse">
																</div>
															</div><div class="col-lg-4 col-md-4">
																<div class="form-group">
																	<span class="text-help-sm">Hausnummer</span>
																	<input type="text" name="ReHausnummer" id="ReHausnummer" value="{{ dpl.reHausnummer }}" class="form-control form-control-sm round" placeholder="Hausnummer">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-4 col-md-4">
																<div class="form-group">
																	<span class="text-help-sm">PLZ</span>
																	<input type="text" name="RePLZ" id="RePLZ" value="{{ dpl.rePLZ }}" class="form-control form-control-sm round" placeholder="PLZ">
																</div>
															</div><div class="col-lg-8 col-md-8">
																<div class="form-group">
																	<span class="text-help-sm">Ort</span>
																	<input type="text" name="ReOrt" id="ReOrt" value="{{ dpl.reOrt }}" class="form-control form-control-sm round" placeholder="Ort">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-6 float-left">
												<div class="panel shadow-lg" id="bankPanel">
													<div class="panel-heading">
														<h3 class="panel-title text-white">Bankverbindung</h3>
														<div class="panel-actions text-white">
															<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
														</div>
													</div>
													<div class="panel-body container-fluid">
														<div class="row row-lg">
															<div class="col-lg-8 col-md-8">
																<div class="form-group-sm">
																	<span class="text-help-sm">IBAN</span>
																	<input type="text" name="IBAN" id="IBAN" value="{{ dpl.iban }}" size="50" class="form-control form-control-sm round" placeholder="IBAN">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-8 col-md-8">
																<div class="form-group">
																	<span class="text-help-sm">BIC</span>
																	<input type="text" name="BIC" id="BIC" value="{{ dpl.bic }}" class="form-control form-control-sm round" placeholder="BIC">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6 float-left">
												<div class="panel shadow-lg" id="vorversorgerPanel">
													<div class="panel-heading">
														<h3 class="panel-title text-white">Vorversorgerdaten</h3>
														<div class="panel-actions text-white">
															<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
														</div>
													</div>
													<div class="panel-body container-fluid">
														<div class="row row-lg">
															<div class="col-lg-8 col-md-8">
																<div class="form-group-sm">
																	<span class="text-help-sm">Vorversorger</span>
																	<input type="text" name="Vorversorger" id="Vorversorger" value="{{ dpl.vorversorger }}" size="50" class="form-control form-control-sm round" placeholder="Vorversorger">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-8 col-md-8">
																<div class="form-group">
																	<span class="text-help-sm">Kundennummer</span>
																	<input type="text" name="Kundennummer" id="Kundennummer" value="{{ dpl.kundennummer }}" class="form-control form-control-sm round" placeholder="Kundennummer">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-6 float-left">
												<div class="panel shadow-lg" id="zaehlerPanel">
													<div class="panel-heading">
														<h3 class="panel-title text-white">Zählerdaten</h3>
														<div class="panel-actions text-white">
															<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
														</div>
													</div>
													<div class="panel-body container-fluid">
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">Kundenart</span>
																	<select data-style="warning" class="text-white" name="Kundenart" id="Kundenart" data-plugin="selectpicker">
																		<option value="">Bitte wählen</option>
																		<option value="1" {% if dpl.kundenart=="1" %} selected {% endif %}>Gewerbekunde</option>
																		<option value="2"{% if dpl.kundenart=="2" %} selected {% endif %}>Privatkunde</option>
																	</select>
																
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">Verbrauch</span>
																	<input type="text" name="Verbrauch" id="Verbrauch" value="{{ dpl.verbrauch }}" size="50" class="form-control form-control-sm round" placeholder="Verbrauch">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">MaloID</span>
																	<input type="text" name="MaloID" id="MaloID" value="{{ dpl.maloID }}" size="50" class="form-control form-control-sm round" placeholder="MaloID">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">Zaehlernummer</span>
																	<input type="text" name="Zaehlernummer" id="Zaehlernummer" value="{{ dpl.zaehlernummer }}" size="50" class="form-control form-control-sm round" placeholder="Zaehlernummer">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">MeloID</span>
																	<input type="text" name="MeloID" id="MeloID" value="{{ dpl.meloID }}" size="50" class="form-control form-control-sm round" placeholder="MeloID">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">Medium</span>
																	<select data-style="warning" class="text-white" name="Medium" id="mediumselect" data-plugin="selectpicker">
																		<option value="">Bitte wählen</option>
																		<option value="1"{% if dpl.medium=="1" %} selected {% endif %}>Strom</option>
																		<option value="2"{% if dpl.medium=="2" %} selected {% endif %}>Erdgas</option>
																		<option value="3"{% if dpl.medium=="3" %} selected {% endif %}>Ökostrom</option>
																		<option value="4"{% if dpl.medium=="4" %} selected {% endif %}>Biogas</option>
																		<option value="5"{% if dpl.medium=="5" %} selected {% endif %}>Digitaler Zähler</option>
																		<option value="6"{% if dpl.medium=="6" %} selected {% endif %}>Wasser Haupt</option>
																		<option value="7"{% if dpl.medium=="7" %} selected {% endif %}>Wasser warm</option>
																		<option value="8"{% if dpl.medium=="8" %} selected {% endif %}>Wasser kalt</option>
																		<option value="9"{% if dpl.medium=="9" %} selected {% endif %}>Wasser sonstige</option>
																		<option value="10"{% if dpl.medium=="10" %} selected {% endif %}>Wärmepumpe</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">Stichtag Abrechnung</span>
																	<input type="text" name="stab" id="stab" value="{{ dpl.stab|date("d.m.Y") }}" data-plugin="datepicker" size="50" class="form-control form-control-sm round" placeholder="Stichtag">
																</div>
															</div>
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm" id="kdlFacilityUserSelectWrap" style="display: none">
																	<span class="text-help-sm">Zugewieserner Mitarbeiter</span>
																	<select data-style="warning" class="text-white" name="facilityUserId" id="facUserSelect" data-plugin="selectpicker">
																	
																	</select>
																
																</div>
															</div>
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm">
																	<span class="text-help-sm">Zu erledigen bis:</span>
																	<input type="text" name="doneUntil" id="doneUntil" value="" data-plugin="datepicker" size="50" class="form-control form-control-sm round" placeholder="Datum für Todo">
																</div>
															</div>
															<div class="col-lg-6 col-md-6">
																<div class="form-group-sm" style="padding-top: 25px;">
																	<button type="button" id="createManualTodo" class="btn btn-warning btn-floating btn-xs  animation-shake animation-hover" style="position: inherit">
																		<a onclick="createFCTodo()" style="color: #ffffff" class="animation-shake animation-hover"><i class="icon md-notifications-add animation-shake animation-hover" style="margin: -1px 5px 0;" aria-hidden="true"></i></a>
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6 float-left">
												<div class="panel shadow-lg" id="akVersorgerPanel">
													<div class="panel-heading">
														<h3 class="panel-title text-white">aktueller Versorger</h3>
														<div class="panel-actions text-white">
															<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
														</div>
													</div>
													<div class="panel-body container-fluid">
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<div class="form-group-sm" id="VersorgerIDSelectWrap">
																		<span class="text-help-sm">Versorger</span>
																		<select data-style="warning" class="text-white" name="Versorger" id="Versorger" data-plugin="selectpicker">
																			{% for versorger in suppliers %}
																				<option value="{{ versorger.id }}" {% if versorger.id == dpl.versorger %} selected {% endif %}>{{ versorger.name }}</option>
																			{% endfor %}
																		</select>
																	</div>
																	<!--<input type="text" name="Versorger" id="Versorger" value="" class="form-control form-control-sm round" placeholder="Versorger">-->
																</div>
															</div><div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Tarifname</span>
																	<input type="text" name="Tarifname" id="Tarifname" value="{{ dpl.tarifname }}" class="form-control form-control-sm round" placeholder="Tarifname">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Tarifnummer</span>
																	<input type="text" name="Tarifnummer" id="Tarifnummer" value="{{ dpl.tarifnummer }}" class="form-control form-control-sm round" placeholder="Tarifnummer">
																</div>
															</div><div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">VersKdNr</span>
																	<input type="text" name="VersKdNr" id="VersKdNr" value="{{ dpl.versKdNr }}" class="form-control form-control-sm round" placeholder="VersKdNr">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Abschlussprovision</span>
																	<input type="text" name="Abschlussprovision" id="Abschlussprovision" value="" class="form-control form-control-sm round" placeholder="Abschlussprovision">
																</div>
															</div><div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">FolgeprovM</span>
																	<input type="text" name="FolgeprovM" id="FolgeprovM" value="" class="form-control form-control-sm round" placeholder="FolgeprovM">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">SpannePKwH</span>
																	<input type="text" name="SpannePKwH" id="SpannePKwH" value="{{ dpl.spannePKwH }}" class="form-control form-control-sm round" placeholder="SpannePKwH">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">AP</span>
																	<input type="text" name="AP" id="AP" value="{{ dpl.aP }}" class="form-control form-control-sm round" placeholder="AP">
																</div>
															</div><div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">GP</span>
																	<input type="text" name="GP" id="GP" value="{{ dpl.gP }}" class="form-control form-control-sm round" placeholder="GP">
																</div>
															</div>
														</div>
														<div class="row row-lg">
															<div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Vertragsbeginn</span>
																	<input name="Vertragsbeginn" id="Vertragsbeginn" data-plugin="datepicker" value="{{ dpl.vertragsbeginn|date('d.m.Y') }}" class="form-control form-control-sm round" placeholder="Vertragsbeginn">
																</div>
															</div><div class="col-lg-6 col-md-6">
																<div class="form-group">
																	<span class="text-help-sm">Dauer</span>
																	<input type="text" name="Dauer" id="Dauer" value="{{ dpl.dauer }}" class="form-control form-control-sm round" placeholder="Dauer">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="uploadedFilesRow" >
					<div class="col-md-12">
						<div class="col-md-12">
							<div class="panel shadow-lg" id="uploadedFilesPanel">
								<div class="panel-heading">
									<h3 class="panel-title text-white">Dateien</h3>
									<div class="panel-actions text-white">
										<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
									</div>
								</div>
								<div class="panel-body container-fluid" style="padding-top: 20px;">
									<table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" id="uploadedFileTable">
										<thead>
										<tr>
											<th style="width: 250px">Datei</th>
											<th style="width: 250px">Erfasst</th>
											<th style="width: 250px">Aktionen</th>
										</tr>
										</thead>
										<tbody>
										{% for file in files %}
											<tr>
												<td><a href="{{ file.file }}" target="_blank">{{ file.file }}</a> </td>
												<td>{{ file.uploaded|date('d.m.Y') }}</td>
												<td><a href="#" class="" onclick="deleteUploadedFile({{ file.id }})" data-toggle="tooltip" data-original-title="Löschen"><img class="" src="/assets/images/Icons/loeschen-end.svg" style="width: 40px"></a></td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="dpChecksRow">
					<div class="col-md-12">
						<div class="col-md-12">
							<div class="panel shadow-lg" id="uploadedFilesPanel">
								<div class="panel-heading">
									<h3 class="panel-title text-white">Ablesungen</h3>
									<div class="panel-actions text-white">
										
										<a class="panel-action" id="deliveryModalButton" data-toggle="modal" data-target="#newCheckModal" aria-hidden="true" data-toggle="tooltip" data-original-title="neue Ablseung"><img class="" src="{{ asset('assets/images/Icons/hinzufuegen-generell-end.svg') }}" style="width: 40px"></a>
										<a class="panel-action icon wb-minus text-white" data-toggle="panel-collapse" aria-expanded="true" aria-hidden="true"></a>
									</div>
								</div>
								<div class="panel-body container-fluid" style="padding-top: 20px;">
									<table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" id="dpCheckTable">
										<thead>
										<tr>
											<th>Datum</th>
											<th>Wert</th>
											<th>Aktionen</th>
										</tr>
										</thead>
										<tbody>
										{% for check in checks %}
											<tr>
												<td>{{ check.datum|date('d.m.Y') }}</td>
												<td>{{ check.wert }}</td>
												<td>
													<a href="#" class="mr-5" onclick="editDPC({{ check.id }})" data-toggle="tooltip" data-original-title="Bearbeiten"><img class="mr-5" src="/assets/images/Icons/bearbeiten-end.svg" style="width: 40px"></a>
													<a href="#" class="" onclick="deleteDeliveryPlaceCheck({{ check.id }})" data-toggle="tooltip" data-original-title="Löschen"><img class="" src="/assets/images/Icons/loeschen-end.svg" style="width: 40px"></a>
													<a href="#" class="btn btn-sm btn-icon btn-pure btn-default" onclick="dpcUpload({{ check.id }})"  data-toggle="tooltip" data-original-title="Upload"><img class="" src="/assets/images/Icons/Aktionsbutton-Upload-gross-end.svg" style="width: 40px"></a>
												</td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="panel-footer"></div>
		</form>
	</div>
	
	<div class="modal fade modal-3d-slit" id="newCheckModal" aria-hidden="true" aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-simple">
			<div class="modal-content clara-modal-content">
				<form method="post" action="" id="deliveryCheckForm">
					<input type="hidden" name="dpcid" id="dpcid" value="">
					<div class="modal-header clara-modal-header">
						<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title clara-modal-title"><img class="" data-toggle="tooltip" data-original-title="neue Ablseung" src="{{ asset('assets/images/Icons/Zaehler-ablesen-end.svg') }}" style="width: 40px"> Neuer Ablese Wert</h4>
					</div>
					<div class="modal-body clara-modal-body">
						<div class="form-group">
							<span class="text-help">Abgelesener Wert</span>
							<input type="text" required name="checkwert" id="checkwert" placeholder="hier Text eingeben">
						</div>
						<div class="form-group">
							<span class="text-help">Ablesedatum</span>
							<input type="text" required name="checkdate" id="checkdate" class="datepicker" data-plugin="datepicker" placeholder="Abgelesen am:">
						</div>
						<input type="hidden" name="dlcheckid" id="dlcheckid" value=""/>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default btn-pure" data-dismiss="modal">Abbrechen</button>
						<button type="submit" class="btn btn-warning">Speichern</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade modal-3d-slit" id="editCheckModal" aria-hidden="true" aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-simple">
			<div class="modal-content clara-modal-content">
				<form method="post" action="" id="editDeliveryCheckForm">
					<input type="hidden" name="edpcid" id="edpcid" value="">
					<div class="modal-header clara-modal-header">
						<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title clara-modal-title"><i class="icon fa-files-o" aria-hidden="true" style="font-size: 25px"></i> Ablesung bearbeiten</h4>
					</div>
					<div class="modal-body clara-modal-body">
						<div class="form-group">
							<span class="text-help">Abgelesener Wert</span>
							<input type="text" required name="echeckwert" id="echeckwert" placeholder="hier Text eingeben">
						</div>
						<div class="form-group">
							<span class="text-help">Ablesedatum</span>
							<input type="text" required name="echeckdate" id="echeckdate" class="datepicker" data-plugin="datepicker" placeholder="Abgelesen am:">
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default btn-pure" data-dismiss="modal">Abbrechen</button>
						<button type="submit" class="btn btn-warning">Speichern</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<div class="modal fade modal-3d-slit" id="UploadCheckModal" aria-hidden="true" aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-simple">
		<div class="modal-content clara-modal-content">
			<form method="post" enctype="multipart/form-data" action="/deliveryplace/check/upload" id="UploadDeliveryCheckForm">
				<input type="hidden" name="dpcuid" id="dpcuid" value="{{ dpl.dauer }}">
				<div class="modal-header clara-modal-header">
					<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title clara-modal-title"><img class="" src="/assets/images/Icons/Aktionsbutton-Upload-gross-end.svg" style="width: 40px"> Upload zur Ablesung</h4>
				</div>
				<div class="modal-body clara-modal-body">
					<div class="form-group">
						<span class="text-help">Datei</span>
						<input type="file" name="file" placeholder="Datei auswählen">
					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-default btn-pure" data-dismiss="modal">Abbrechen</button>
					<button type="submit" id="dpcUploadSubmit" class="btn btn-warning">Speichern</button>
				</div>
			</form>
		</div>
	</div>
</div>
	
<div class="slidePanel slidePanel-right site-sidebar lvl3-sidePanel" id="DPNotes" style="z-index:1500;overflow-y: scroll; overflow: scroll;border-left: 3px solid #f19408;">
	<div class="panel mb-0" id="">
		<div class="panel-heading">
			<h3 class="panel-title">
				<img class="" src="{{ asset('assets/images/Icons/Aktionsbutton-Note-gross-end.svg') }}" style="width: 40px"> Notizen: <span id="deliveryPlaceTitle"></span></h3>
			<div class="panel-actions">
				<a class="panel-action text-white" data-toggle="modal" data-target="#newDPNote" aria-expanded="true" aria-hidden="true"><img class="" src="{{ asset('assets/images/Icons/hinzufuegen-generell-end.svg') }}" style="width: 40px"></a>
				<a class="panel-action icon wb-minus text-white" id="showNotesClose" ></a>
			</div>
		</div>
		<div class="panel-body pt-15" id="DPNotesPanelContent">
			{% for note in notes %}
				<div class="card bg-orange-50 shadow-sm" id="note{{ note.id }}">
					<div class="card-block">
						<div class="panel-actions">
							<a href="#" class="mr-5" onclick="deleteNote({{ note.id }})" data-toggle="tooltip" data-original-title="löschen"><img class="" src="/assets/images/Icons/loeschen-end.svg" style="width: 40px"></a>
						</div>
						<h4 class="card-title">{{ note.description }}</h4>
						<p class="card-text">{{ note.notetext|nl2br }}</p>
						<!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="modal fade modal-3d-slit" id="newDPNote" aria-hidden="true" aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-simple">
		<div class="modal-content clara-modal-content">
			<form method="post"  id="newDPNoteForm">
				<input type="hidden" name="cid"  value="{{ dpl.id }}">
				<div class="modal-header clara-modal-header">
					<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title clara-modal-title"><img class="" src="{{ asset('assets/images/Icons/Aktionsbutton-Note-gross-end.svg') }}" style="width: 40px"> neue Notiz</h4>
				</div>
				<div class="modal-body clara-modal-body">
					<div class="form-group">
						<span class="text-help">Überschrift</span>
						<input type="text" name="description" id="NoteDescription" placeholder="Überschrift" class="form-control form-control-sm round">
					</div>
					<div class="form-group">
						<span class="text-help">Überschrift</span>
						<textarea rows="5" name="noteText" placeholder="Notiz" id="NoteNoteText" class="form-control form-control-sm "></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-default btn-pure" data-dismiss="modal">Abbrechen</button>
					<button type="submit" id="newDPNoteSubmit" class="btn btn-warning">Speichern</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
{% block siteJS %}
	<script>
        $('#showNotes').click(function () {
            $('#DPNotes').toggleClass( 'slidePanel-show lvl3-sidePanel-show', 1000 );
        });
        $('#showNotesClose').click(function () {
            $('#DPNotes').toggleClass( 'slidePanel-show lvl3-sidePanel-show', 1000 );
        });
        var testrole = "{{ app.user.roles[0] }}";

        $( "#newCheckModal" ).submit(function( event ) {

            event.preventDefault();
            $( "#dlcheckid" ).val($("#dpId").val());
            var myForm = document.getElementById('deliveryCheckForm');
            var formData = new FormData(myForm),
                result = {};

            for (var entry of formData.entries())
            {
                result[entry[0]] = entry[1];
            }
            result = JSON.stringify(result)
            $.ajax({
                url: "{{ path('deliverplace_new_check') }}",
                type: "POST",
                data:result,
                contentType: "application/json",
                complete: function (data){

                    $( "#newCheckModal" ).modal('hide');
                    $( "#checkwert" ).val('')
                    $( "#checkdate" ).val('')
                    $( "#dlcheckid" ).val('')
                    toastr['success'](JSON.parse(data.responseText));
                }
            });

        });

        $( "#editCheckModal" ).submit(function( event ) {

            event.preventDefault();
            $( "#dlcheckid" ).val($( "#dpId" ).val());
            var myForm = document.getElementById('editDeliveryCheckForm');
            var formData = new FormData(myForm),
                result = {};

            for (var entry of formData.entries())
            {
                result[entry[0]] = entry[1];
            }
            result = JSON.stringify(result)
            $.ajax({
                url: "{{ path('app_deliverplace_dpchecksave') }}",
                type: "POST",
                data:result,
                contentType: "application/json",
                complete: function (data){

                    $( "#editCheckModal" ).modal('hide');
                    $( "#echeckwert" ).val('')
                    $( "#echeckdate" ).val('')
                    $( "#edpcid" ).val('')
                    toastr['success'](JSON.parse(data.responseText));
                }
            });

        });
	</script>
	<script src="/assets/js/customer.js"></script>
{% endblock %}


