{% extends 'index.html.twig' %}

{% block body %}
	<div class="panel shadow-lg" style="border: 3px solid #f19408;">
		<header class="panel-heading">
			<img class="indexBoxTitleIcon" src="{{ asset('assets/images/Icons/Benutzer-end.svg') }}"><h3 class="panel-title">Benutzer</h3>
			<div class="panel-actions text-white">
				<a class="text-white" href="{{ path('user_add') }}"> <img class="" src="{{ asset('assets/images/Icons/hinzufuegen-generell-end.svg') }}" style="width: 40px"></a>
			</div>
		</header>
		<div class="panel-body">
			<div class="pt-25">
			<table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable" id="UserIndexTable">
				<thead>
				<tr>
					<th style="display: none">ID</th>
					<th>Email</th>
					<th>Benutzername</th>
					<th>Vorname</th>
					<th>Nachname</th>
					<th>Telefon</th>
					<th>Aktiv</th>
					<th>Favorit</th>
					<th>Aktionen</th>
				</tr>
				</thead>
				<tbody>
				{% for user in users %}
					<tr class="gradeA">
						<td style="display: none">{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.displayName }}</td>
						<td>{{ user.profile.firstName }}</td>
						<td>{{ user.profile.lastName }}</td>
						<td>{{ user.profile.telefon }}</td>
						<td>
							{% if user.active %}
								<a href="{{ path("user_toggle_active") }}/?id={{ user.id }}" style="color: #8bc34a;font-size: 20px;"><i class="icon fa-check" aria-hidden="true"></i></a>
							{% else %}
								<a href="{{ path("user_toggle_active") }}/?id={{ user.id }}" style="color: #ff0000;font-size: 20px;"><i class="icon fa-close" aria-hidden="true"></i></a>
							{% endif %}
						</td>
						<td>
							{% if user.id in app.user.favorite %}
								<a href="{{ path("user_toggle_favorite") }}/?id={{ user.id }}" style="color: #8bc34a;font-size: 20px;"><i class="icon fa-check" aria-hidden="true"></i></a>
							{% else %}
								<a href="{{ path("user_toggle_favorite") }}/?id={{ user.id }}" style="color: #ff0000;font-size: 20px;"><i class="icon fa-close" aria-hidden="true"></i></a>
							{% endif %}
						
						</td>
						<td>
							{% if is_granted('ROLE_PORTAL_ADMIN') or is_granted('ROLE_ADMIN') %}
							<a href="{{ path('user_edit') }}?id={{ user.id }}" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip" data-original-title="bearbeiten"><img class="" src="{{ asset('assets/images/Icons/bearbeiten-end.svg') }}" style="width: 30px"></a>
							<a href="#" data-toggle="tooltip" onclick="deleteUser({{ user.id }})" data-original-title="löschen" class="btn btn-sm btn-icon btn-pure btn-danger on-default remove-row animation-hover animation-scale"><img class="" src="{{ asset('assets/images/Icons/loeschen-end.svg') }}" style="width: 30px"></a>
							<a href="#" data-toggle="modal" data-target="#todoModal" data-id="{{ user.id }}" class="btn btn-sm btn-icon btn-pure btn-danger on-default open-AddBookDialog animation-shake animation-hover"><img class="" src="{{ asset('assets/images/Icons/ToDo-add.svg') }}" data-toggle="tooltip" data-original-title="Neues Todo" style="width: 30px"></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade modal-3d-slit" id="todoModal" aria-hidden="true"
		 aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-simple">
			<div class="modal-content clara-modal-content">
				<form method="post" action="{{ path("noti_create_from_dashboard") }}">
					<div class="modal-header clara-modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<h4 class="modal-title clara-modal-title"><i class="icon md-notifications" aria-hidden="true" style="font-size: 25px"></i> Neues Todo anlegen</h4>
					</div>
					<div class="modal-body clara-modal-body">
						<textarea rows="3" name="text" cols="70" placeholder="hier Text eingeben" required></textarea>
						<input type="text" required name="todate" class="datepicker" data-plugin="datepicker" placeholder="erledigen bis.">
						<input type="hidden" name="userId" id="userId" value=""/>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-default btn-pure" data-dismiss="modal">Abbrechen</button>
						<button type="submit" class="btn btn-warning">Speichern</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<script>
    function deleteUser(userid){
        
        var UserIndexTable = $('#UserIndexTable').DataTable();

        $('#UserIndexTable').on( 'click', 'tbody tr', function () {
            console.log(userid)
            
            var table = this;
            var kdl = "";
            var test = swal({
                title: "Bist Du sicher?",
                text: "Das Du den Benutzer "+userid+" löschen willst",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-warning",
                confirmButtonText: 'Ja ich will!',
                closeOnConfirm: false //closeOnCancel: false

            }, function () {
  
                var kdl ="";
                $.ajax( {
                    method: 'POST',
                    url: '/user/delete/'+userid,
                    dataType: 'json',
                    complete: function (data){
                        console.log('complete');
                        kdl = JSON.parse(data.responseText);
                        UserIndexTable.row($(table).closest("tr")) .remove().draw();
                        swal("Gelöscht", kdl, "success");
                    }});

            });

        } );

    }
</script>
{% endblock %}