{% extends 'index.html.twig' %}

{% block body %}
	<div class="panel shadow-lg" style="border: 3px solid #f19408;">
		<header class="panel-heading">
			<h3 class="panel-title"><i class="site-menu-icon icon md-pin-account" aria-hidden="true" style="font-size: 25px;top: 3px;"></i> Benutzer</h3>
		</header>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<div class="mb-15 pt-10">
						<button type="button" class="btn-raised btn btn-danger btn-floating waves-effect waves-classic waves-effect waves-light">
							<i class="icon md-accounts-add" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
			<table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
				<thead>
				<tr>
					<th style="display: none">ID</th>
					<th>Email</th>
					<th>Benutzername</th>
					<th>Vorname</th>
					<th>Nachname</th>
					<th>Telefon</th>
					<th>Aktiv</th>
					<th>Favorit</th>
					<th>Aktionen</th>
				</tr>
				</thead>
				<tbody>
				{% for user in users %}
					<tr class="gradeA">
						<td style="display: none">{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.displayName }}</td>
						<td>{{ user.profile.firstName }}</td>
						<td>{{ user.profile.lastName }}</td>
						<td>{{ user.profile.telefon }}</td>
						<td>
							{% if user.active %}
								<a href="{{ path("user_toggle_active") }}/?id={{ user.id }}" style="color: #8bc34a;font-size: 20px;"><i class="icon fa-check" aria-hidden="true"></i></a>
							{% else %}
								<a href="{{ path("user_toggle_active") }}/?id={{ user.id }}" style="color: #ff0000;font-size: 20px;"><i class="icon fa-close" aria-hidden="true"></i></a>
							{% endif %}
						</td>
						<td>
							{% if user.id in app.user.favorite %}
								<a href="{{ path("user_toggle_favorite") }}/?id={{ user.id }}" style="color: #8bc34a;font-size: 20px;"><i class="icon fa-check" aria-hidden="true"></i></a>
							{% else %}
								<a href="{{ path("user_toggle_favorite") }}/?id={{ user.id }}" style="color: #ff0000;font-size: 20px;"><i class="icon fa-close" aria-hidden="true"></i></a>
							{% endif %}
						
						</td>
						<td>
							{% if is_granted('ROLE_PORTAL_ADMIN') or is_granted('ROLE_ADMIN') %}
							<a href="{{ path('user_edit') }}?id={{ user.id }}" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip" data-original-title="bearbeiten"><i class="icon md-edit success text-success font-size-26" aria-hidden="true"></i></a>
							<a href="#" data-toggle="tooltip" data-original-title="löschen" class="btn btn-sm btn-icon btn-pure btn-danger on-default remove-row"><i class="icon md-delete danger text-danger font-size-26" aria-hidden="true"></i></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}